## Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

%matplotlib inline

In [2]:
# import tensorflow as tf
# print("tf version = ", tf.__version__)
# with tf.device("/gpu:0"):
#     a = tf.constant([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], shape=[2, 3], name='a')
#     b = tf.constant([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], shape=[3, 2], name='b')
#     c = tf.matmul(a, b)
# with tf.Session() as sess:
#     print (sess.run(c))

## Read data

In [3]:
admin = pd.read_csv('./AirTracks/all_csv/Jan2017/admin.csv')

In [4]:
admin.head(2)

,FlightId,FlightCallsign,AircraftModel,AircraftRegistration,Airline,Origin,Destination,SchdeuledDeparture,ScheduledArrival,RealDeparture,EstimatedArrival,FlightTime
0,c244ac4,SAS1749,ATR 72-600,OY-JZE,SAS,Tallinn Lennart Meri Airport,Stockholm Arlanda Airport,1.484156e+09,1.484161e+09,1.484159e+09,NaN,3762.0
1,c32d217,OKA2925,Boeing 737-8AS,B-5578,OKAir,Changsha Huanghua International Airport,Hangzhou Xiaoshan International Airport,1.484694e+09,1.484698e+09,1.484694e+09,1.484698e+09,3850.0

In [5]:
# trails = pd.read_feather('./AirTracks/all_csv/Jan2017/trails.feather')
# trails = pd.read_csv('./AirTracks/all_csv/Jan2017/trails.csv', low_memory=True)

## Rename columns

In [6]:
admin.rename(columns={
    'FlightId': 'flight_id',
    'FlightCallsign': 'flight_callsign',
    'AircraftModel': 'aircraft_model',
    'AircraftRegistration': 'aircraft_registration',
    'SchdeuledDeparture': 'scheduled_departure',
    'ScheduledArrival': 'scheduled_arrival',
    'RealDeparture': 'real_departure',
    'EstimatedArrival': 'estimated_arrival',
    'FlightTime': 'flight_time'
     }, inplace=True)

admin.columns = admin.columns.map(lambda x: x.lower())

In [7]:
admin.columns

Index(['flight_id', 'flight_callsign', 'aircraft_model',
       'aircraft_registration', 'airline', 'origin', 'destination',
       'scheduled_departure', 'scheduled_arrival', 'real_departure',
       'estimated_arrival', 'flight_time'],
      dtype='object')

In [8]:
admin.dtypes

flight_id                 object
flight_callsign           object
aircraft_model            object
aircraft_registration     object
airline                   object
origin                    object
destination               object
scheduled_departure      float64
scheduled_arrival        float64
real_departure           float64
estimated_arrival        float64
flight_time              float64
dtype: object

## Handling null data

In [9]:
admin.isnull().sum()

flight_id                     0
flight_callsign            3851
aircraft_model            18818
aircraft_registration     20741
airline                   24109
origin                    41361
destination               88792
scheduled_departure       23538
scheduled_arrival         23538
real_departure            64318
estimated_arrival        502967
flight_time              160380
dtype: int64

In [10]:
admin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1158127 entries, 0 to 1158126
Data columns (total 12 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   flight_id              1158127 non-null  object
 1   flight_callsign        1154276 non-null  object
 2   aircraft_model         1139309 non-null  object
 3   aircraft_registration  1137386 non-null  object
 4   airline                1134018 non-null  object
 5   origin                 1116766 non-null  object
 6   destination            1069335 non-null  object
 7   scheduled_departure    1134589 non-null  float64
 8   scheduled_arrival      1134589 non-null  float64
 9   real_departure         1093809 non-null  float64
 10  estimated_arrival      655160 non-null   float64
 11  flight_time            997747 non-null   float64
dtypes: float64(5), object(7)
memory usage: 106.0+ MB

In [11]:
# Drop rows where both origin and destination are NaN
# admin[~(admin['origin'].isnull() & admin['destination'].isnull())]

In [12]:
# Drop rows where either origin and destination are NaN
admin.dropna(subset=['origin', 'destination'], inplace=True)

In [13]:
# ls_object_columns = admin.loc[:, admin.dtypes == object].columns.tolist()
str_cols = admin.columns[admin.dtypes==object]

In [14]:
# Fill NaN with empty string
admin[str_cols] = admin[str_cols].fillna('')

In [15]:
# Strip leading and trailing spaces in object columns
admin[str_cols] = admin[str_cols].apply(lambda x: x.str.strip())

## Convert to datetime

In [16]:
def get_utc_datetime(value):
    try:
        return datetime.fromtimestamp(value)
    except:
        return pd.NaT
    
admin['scheduled_departure'] = admin['scheduled_departure'].map(get_utc_datetime)
admin['scheduled_arrival'] = admin['scheduled_arrival'].map(get_utc_datetime)
admin['real_departure'] = admin['real_departure'].map(get_utc_datetime)
admin['estimated_arrival'] = admin['estimated_arrival'].map(get_utc_datetime)

**ScheduledArrival and ScheduledDeparture**

In [17]:
admin['scheduled_arrival'][:5]

0   2017-01-12 02:55:00
1   2017-01-18 08:15:00
2   2017-01-18 06:55:00
3   2017-01-19 16:00:00
5   2017-01-05 21:05:00
Name: scheduled_arrival, dtype: datetime64[ns]

In [18]:
admin['scheduled_departure'][:5]

0   2017-01-12 01:40:00
1   2017-01-18 06:55:00
2   2017-01-18 02:40:00
3   2017-01-19 13:35:00
5   2017-01-05 17:50:00
Name: scheduled_departure, dtype: datetime64[ns]

Observation: There are some dates where year = 1970. Check if there are dates that do not fall within Jan 2017

In [19]:
admin['scheduled_arrival_year'] = admin['scheduled_arrival'].dt.year
admin['scheduled_arrival_month'] = admin['scheduled_arrival'].dt.month
admin['scheduled_arrival_day'] = admin['scheduled_arrival'].dt.day

In [20]:
admin['scheduled_departure_year'] = admin['scheduled_departure'].dt.year
admin['scheduled_departure_month'] = admin['scheduled_departure'].dt.month
admin['scheduled_departure_day'] = admin['scheduled_departure'].dt.day

In [21]:
admin['scheduled_arrival_year'].value_counts(dropna=False).sort_index()

1970.0      57147
2016.0        691
2017.0    1003777
NaN          2025
Name: scheduled_arrival_year, dtype: int64

In [22]:
admin['scheduled_arrival_month'].value_counts(dropna=False).sort_index()

1.0     1059810
2.0        1114
12.0        691
NaN        2025
Name: scheduled_arrival_month, dtype: int64

In [23]:
admin['scheduled_arrival_day'].value_counts(dropna=False).sort_index()

1.0     84042
2.0     33347
3.0     32203
4.0     31768
5.0     32863
6.0     36173
7.0     28566
8.0     21270
9.0      4243
10.0    14080
11.0    32666
12.0    30494
13.0    10434
14.0    34424
15.0    33387
16.0    37026
17.0    35393
18.0    35109
19.0    35701
20.0    35308
21.0    35280
22.0    33883
23.0    36894
24.0    37345
25.0    38424
26.0    40920
27.0    41418
28.0    40615
29.0    38667
30.0    40667
31.0    39005
NaN      2025
Name: scheduled_arrival_day, dtype: int64

In [24]:
admin['scheduled_arrival'].isnull().sum()

2025

In [25]:
admin['scheduled_departure'].isnull().sum()

2025

In [26]:
schedule_arrival_missing_index = admin.loc[admin['scheduled_arrival'].isnull(),'scheduled_arrival'].index.tolist()
# # returns the same result
# admin['ScheduledArrival'][admin['ScheduledArrival'].isnull()].index

In [27]:
schedule_departure_missing_index = admin.loc[admin['scheduled_departure'].isnull(),'scheduled_departure'].index.tolist()

In [28]:
np.array_equal(schedule_departure_missing_index, schedule_arrival_missing_index)

True

Observation: Rows with NaT for ScheduledArrival also had NaT for ScheduledDeparture

In [29]:
estimated_arrival_missing_index = admin.loc[admin['estimated_arrival'].isnull(), 'estimated_arrival'].index.tolist()

In [30]:
len(estimated_arrival_missing_index)

409563

In [31]:
len(list(set(estimated_arrival_missing_index).intersection(set(schedule_departure_missing_index))))

2025

EstimatedArrival shares common missing values for ScheduledArrival and ScheduledDeparture

In [32]:
# Calculate scheduled flight time in timedelta type
admin['scheduled_flight_time'] = admin['scheduled_arrival'] - admin['scheduled_departure']

In [33]:
# Convert scheduled flight time from timedelta to seconds
admin['scheduled_flight_time'] = admin['scheduled_flight_time'].map(lambda x: x.total_seconds())

**FlightTime**

In [34]:
(admin['estimated_arrival'] - admin['real_departure'])[1].total_seconds()

4135.0

In [35]:
admin.shape

(1063640, 19)

In [36]:
admin.dropna(subset=['flight_time']).shape

(994856, 19)

In [37]:
admin['flight_time'].isnull().sum()

68784

In [38]:
admin['real_departure'].isnull().sum()

26790

In [39]:
def get_h_m_s(value):
    h = value // 3600
    m = value % 3600 // 60
    s = value % 60
    try:
        return int(h), int(m), int(s)
    except:
        return np.nan

In [40]:
admin['flight_time'].apply(get_h_m_s)

0           (1, 2, 42)
1           (1, 4, 10)
2           (3, 52, 9)
3          (1, 59, 14)
5          (2, 37, 38)
              ...
1158121    (1, 29, 32)
1158122    (1, 46, 47)
1158123     (1, 33, 5)
1158124    (2, 35, 59)
1158125     (4, 16, 1)
Name: flight_time, Length: 1063640, dtype: object

In [41]:
import datetime
str(datetime.timedelta(seconds=7144))

'1:59:04'

In [42]:
# Reference: https://stackoverflow.com/questions/775049/how-do-i-convert-seconds-to-hours-minutes-and-seconds
m, s = divmod(7144, 60)
h, m = divmod(m, 60)
h, m, s

(1, 59, 4)

In [43]:
# Reference: https://stackoverflow.com/questions/1384406/convert-seconds-to-hhmmss-in-python
s = 7144
m = s // 60
h = m // 60
h, m%60, s%60

(1, 59, 4)

## Analysis of a single flight (flight_id = c244ac4)

In [44]:
admin.columns

Index(['flight_id', 'flight_callsign', 'aircraft_model',
       'aircraft_registration', 'airline', 'origin', 'destination',
       'scheduled_departure', 'scheduled_arrival', 'real_departure',
       'estimated_arrival', 'flight_time', 'scheduled_arrival_year',
       'scheduled_arrival_month', 'scheduled_arrival_day',
       'scheduled_departure_year', 'scheduled_departure_month',
       'scheduled_departure_day', 'scheduled_flight_time'],
      dtype='object')

In [45]:
admin[admin.flight_id == 'c244ac4']

,flight_id,flight_callsign,aircraft_model,aircraft_registration,airline,origin,destination,scheduled_departure,scheduled_arrival,real_departure,estimated_arrival,flight_time,scheduled_arrival_year,scheduled_arrival_month,scheduled_arrival_day,scheduled_departure_year,scheduled_departure_month,scheduled_departure_day,scheduled_flight_time
0,c244ac4,SAS1749,ATR 72-600,OY-JZE,SAS,Tallinn Lennart Meri Airport,Stockholm Arlanda Airport,2017-01-12 01:40:00,2017-01-12 02:55:00,2017-01-12 02:27:23,NaT,3762.0,2017.0,1.0,12.0,2017.0,1.0,12.0,4500.0

In [46]:
str(datetime.timedelta(seconds=admin.loc[admin.flight_id == 'c244ac4', 'flight_time'].values[0]))

'1:02:42'

## Singapore Changi Airport

In [47]:
df_origin_sca = admin.loc[admin.origin.str.contains('Changi', na=False)]

In [48]:
df_dest_sca = admin.loc[admin.destination.str.contains('Changi', na=False)]

In [49]:
print(df_origin_sca.shape)
df_dest_sca.shape

(10645, 19)

(11099, 19)

In [50]:
df_origin_sca.destination.value_counts()[:10]

Jakarta Soekarno Hatta International Airport    776
Hong Kong International Airport                 618
Bangkok Suvarnabhumi Airport                    533
Kuala Lumpur International Airport              469
Manila Ninoy Aquino International Airport       343
Denpasar International Airport                  317
Ho Chi Minh City International Airport          315
Taiwan Taoyuan International Airport            278
Shanghai Pudong International Airport           257
Guangzhou Baiyun International Airport          245
Name: destination, dtype: int64

In [51]:
df_dest_sca.origin.value_counts()[:10]

Jakarta Soekarno Hatta International Airport    783
Hong Kong International Airport                 614
Kuala Lumpur International Airport              555
Bangkok Suvarnabhumi Airport                    498
Manila Ninoy Aquino International Airport       379
Denpasar International Airport                  359
Ho Chi Minh City International Airport          331
Taiwan Taoyuan International Airport            324
Shanghai Pudong International Airport           270
Penang International Airport                    252
Name: origin, dtype: int64

## Route

In [52]:
admin['route'] = admin.origin + " -> " + admin.destination

In [57]:
admin['route'].value_counts()[:20]

Seoul Gimpo International Airport -> Jeju International Airport                                  2058
Jeju International Airport -> Seoul Gimpo International Airport                                  1971
Sydney Kingsford Smith Airport -> Melbourne Airport                                              1554
Ho Chi Minh City International Airport -> Hanoi Noi Bai International Airport                    1466
Melbourne Airport -> Sydney Kingsford Smith Airport                                              1454
Hanoi Noi Bai International Airport -> Ho Chi Minh City International Airport                    1402
Delhi Indira Gandhi International Airport -> Mumbai Chhatrapati Shivaji International Airport    1233
Mumbai Chhatrapati Shivaji International Airport -> Delhi Indira Gandhi International Airport    1195
Taiwan Taoyuan International Airport -> Hong Kong International Airport                          1151
Hong Kong International Airport -> Taiwan Taoyuan International Airport                          1095
Tokyo Haneda International Airport -> Fukuoka Airport                                            1051
Sydney Kingsford Smith Airport -> Brisbane Airport                                               1022
Brisbane Airport -> Sydney Kingsford Smith Airport                                                978
Fukuoka Airport -> Tokyo Haneda International Airport                                             963
Shanghai Hongqiao International Airport -> Shenzhen Bao'an International Airport                  957
Beijing Capital International Airport -> Shanghai Hongqiao International Airport                  929
Shenzhen Bao'an International Airport -> Shanghai Hongqiao International Airport                  922
Shanghai Hongqiao International Airport -> Beijing Capital International Airport                  911
Riyadh King Khalid International Airport -> Jeddah King Abdulaziz International Airport           876
Jeddah King Abdulaziz International Airport -> Riyadh King Khalid International Airport           861
Name: route, dtype: int64

In [54]:
admin.dropna(subset=['flight_time']).isnull().sum()

flight_id                         0
flight_callsign                   0
aircraft_model                    0
aircraft_registration             0
airline                           0
origin                            0
destination                       0
scheduled_departure            1741
scheduled_arrival              1741
real_departure                23429
estimated_arrival            375402
flight_time                       0
scheduled_arrival_year         1741
scheduled_arrival_month        1741
scheduled_arrival_day          1741
scheduled_departure_year       1741
scheduled_departure_month      1741
scheduled_departure_day        1741
scheduled_flight_time          1741
route                             0
dtype: int64

In [ ]:
admin.isnull().sum()

In [ ]:
mask = df_dest_sca.origin.str.contains('Jakarta Soekarno Hatta International Airport')
df_jkt_sin = df_dest_sca.loc[mask]
del admin

In [ ]:
trails = pd.read_feather('./AirTracks/all_csv/Jan2017/trails.feather')

In [ ]:
trails.rename(columns={
    'FlightId': 'flight_id'
     }, inplace=True)

trails.columns = trails.columns.map(lambda x: x.lower())

In [ ]:
combined_jkt_sin = pd.merge(trails,
                            df_jkt_sin,
                            on='flight_id')
del trails, df_jkt_sin

In [ ]:
combined_jkt_sin.head(3)

## Plot of all flights (Jakarta Soekarno Hatta International Airport -> Singapore Changi Airport)

In [ ]:
# Reference: https://pbpython.com/pandas-qcut-cut.html
# Reference: https://stackoverflow.com/questions/50145702/pandas-cut-doesnt-bin-zero-values
cut_labels = ['0 <= speed < 100', 
              '100 <= speed < 200',
              '200 <= speed < 300',
              '300 <= speed < 400',
              '400 <= speed < 500',
              '500 <= speed < 600',
              '600 <= speed < 700',
              '700 <= speed < 800']
cut_bins = [-np.inf, 99, 199, 299, 399, 499, 599, 699, 799]
combined_jkt_sin['speed_interval'] = pd.cut(combined_jkt_sin['speed'], bins=cut_bins, labels=cut_labels)

# pd.cut(combined_jkt_sin['speed'], bins=np.linspace(0, 800, 9))

In [ ]:
fig, ax = plt.subplots(figsize=(12, 8))
sns.scatterplot(ax = ax, x='longitude', y='latitude', data=combined_jkt_sin)
plt.show()

In [ ]:
holding_stack_flight_ids = combined_jkt_sin.loc[combined_jkt_sin['latitude'] > 1.5, 'flight_id'].unique().tolist()

## Plot of all flights that did not fly a holding pattern (Jakarta Soekarno Hatta International Airport -> Singapore Changi Airport)

In [ ]:
fig, ax = plt.subplots(figsize=(12, 8))
sns.scatterplot(ax = ax, x='longitude', y='latitude', hue='speed_interval', marker='<',
#                 palette=sns.color_palette("Blues", 8),
                palette=sns.cubehelix_palette(8),
                data=combined_jkt_sin[~combined_jkt_sin['flight_id'].isin(holding_stack_flight_ids)])
plt.show();

## Plot of all flights that flew a holding pattern (Jakarta Soekarno Hatta International Airport -> Singapore Changi Airport)

In [ ]:
combined_jkt_sin.loc[combined_jkt_sin['flight_id'].isin(holding_stack_flight_ids), 'speed_interval'].unique()

In [ ]:
fig, ax = plt.subplots(figsize=(12, 8))
sns.scatterplot(ax = ax, x='longitude', y='latitude', hue='speed_interval', marker='<',
#                 palette=sns.color_palette("Blues", 7),
                palette=sns.cubehelix_palette(7),
                data=combined_jkt_sin[combined_jkt_sin['flight_id'].isin(holding_stack_flight_ids)])
plt.show();

In [ ]:
combined_jkt_sin['real_departure'].min()

In [ ]:
combined_jkt_sin['real_departure'].max()